p{
    font-size: 20px;
    font-family: impact;
}

h1{
    text-align: center;
    color: rgb(179, 93, 121);
    font-family: Impact;
}
body{
    background: linear-gradient(aqua, rgb(45, 158, 79));
}

.cards{
    gap: 40px;
    display: block;
    justify-content: center;
}

.card-link{
    display: inline-block;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 14px;
    width: 320px;
    height: 400px;
    padding: 20px;
}

.artista{
    text-align: center;
    color: rgb(179, 93, 121);
}

.artista img{
    width: 90%;
    border-radius: 10px;
}
.card-link:hover{
    transform: scale(1.05);
}

@media (max-width: 600px){

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }

    .card-principal{
        padding: 18px;
    }

}

.footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
